<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'fitness/default_images/iscte.png' %}"/>
    <link rel="stylesheet" href="{% static 'fitness/css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Home page{% endblock %}</title>
</head>
<body>
    <style>
        {% block styles %}
        {% endblock %}
    </style>

    <div class="header-nav-container">
        <header class="header">
            <a href="{% url 'fitness:index' %}" class="text-decoration-none text-white">DIAM Gym</a>
        </header>


        <nav class="topnav">
            {% if not request.user.is_authenticated %}
                <a href="{% url 'fitness:index' %}">Home</a>
                <a href="{% url 'fitness:login_users' %}">Sign in</a>
                <a href="{% url 'fitness:register_users' %}">Sign up</a>
            {% else %}
                <a href="{% url 'fitness:index' %}">Home Page</a>
                <a href="{% url 'fitness:forum' %}">Discussions</a>
                <a href="{% url 'fitness:user_info' %}">Account</a>
                <a href="{% url 'fitness:logout_users' %}">Logout</a>
            {% endif %}
        </nav>
    </div>

    {% block content %}
        {% if not request.user.is_authenticated %}
            <div class="hero-section">
                <div class="hero-content">
                    <h1>Welcome to DIAM Gym</h1>
                    <p>Your journey to a healthier lifestyle starts here.</p>
                    <a href="{% url 'fitness:login_users' %}" class="cta-button">Get Started</a>
                </div>
            </div>
        {% endif %}

    <div class="notnav">
        <p><br></p>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="custom-container">
                        <h1>Bem-vindo à nossa Comunidade de Fitness e Ginásio</h1>
                        <p>
                            Aqui encontrarás uma variedade de recursos e funcionalidades para te ajudar a alcançar os teus objetivos de fitness e bem-estar. Explora as seguintes áreas:
                        </p>
                        <h2><a href="{% url 'fitness:user_info' %}">1. Perfis de Membros</a></h2>
                        <p>
                            Cria o teu perfil personalizado para acompanhar o teu progresso, definir metas e interagir com outros membros da comunidade.
                        </p>
                        <br>
                        <h2>2. Agendamento de Aulas e Treinos</h2>
                        <p>
                            Reserva o teu lugar em aulas de fitness e treinos especiais para maximizar os teus resultados e manter-te motivado.
                        </p>
                        <br>
                        <h2><a href="{% url 'fitness:forum' %}">3. Comunidade e Fóruns de Discussão</a></h2>
                        <p>
                            Participa em discussões sobre fitness, nutrição e motivação, partilha dicas e obtém suporte dos membros e instrutores do ginásio.
                        </p>
                        <br>
                        <h2>4. Desafios de Fitness e Recompensas</h2>
                        <p>
                            Envolva-te em desafios mensais para testar os teus limites e ganhar recompensas emocionantes.
                        </p>
                        <br>
                        <h2><a href="">5. Recursos de Saúde e Bem-Estar</a></h2>
                        <p>
                            Acede a uma variedade de recursos, incluindo artigos, vídeos e receitas, para te ajudar a adotar um estilo de vida mais saudável.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Dicas de Exercícios</a></h5>
                            <p class="card-text">Confere as nossas dicas de exercícios para diferentes objetivos de fitness.</p>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Receitas Saudáveis</a></h5>
                            <p class="card-text">Descobre receitas deliciosas e saudáveis para apoiar a tua jornada de fitness.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Artigos sobre Bem-Estar</a></h5>
                            <p class="card-text">Lê artigos informativos sobre saúde, nutrição e bem-estar para te manteres informado.</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
        <p><br></p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src="{% static 'fitness/scripts/auxJQueryFunctions.js' %}?{% now 'U' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
</body>
</html>