{% extends "./pagina_conta.html" %}

{% block title %}Mudar Password{% endblock %}

{% block content %}
<div class="container">
    <div class="alert alert-secondary form-text" role="alert">
        <h2>Password Change</h2>
    </div>

    {% if error_message %}
    <div class="alert alert-danger">
        <strong>{{ error_message }}</strong>
    </div>
    {% endif %}

    <form action="{% url 'fitness:change_password' %}" method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="old_password" class="form-label">Current Password:</label>
            <input type="password" id="old_password" name="old_password" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="new_password1" class="form-label">New Password:</label>
            <input type="password" id="new_password1" name="new_password1" class="form-control" required placeholder="insert new password">
        </div>

        <div class="mb-3">
            <label for="new_password2" class="form-label">Confirm New Password:</label>
            <input type="password" id="new_password2" name="new_password2" class="form-control" required placeholder="confirm new password">
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Change Password</button>
            <a href="{% url 'fitness:user_info' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
