{% extends "./index.html" %}

{% block title %}Login{% endblock %}

{% block nav %}
<nav class="topnav">
    <a href="{% url 'fitness:login_users' %}">Login</a>
    <a href="{% url 'fitness:register_users' %}"> Registe uma nova conta</a>
    <a href="{% url 'fitness:index' %}">Home Page</a>
</nav>
<br>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h2 class="card-header text-center">Login</h2>
                {% if error_message %}
                <p class="text-danger text-center"><strong>{{ error_message }}</strong></p>
                {% endif %}
                <div class="card-body">
                    <form action="{% url 'fitness:login_users' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" id="username" name="username" value="{{ entered_username }}" class="form-control" placeholder="Username" required>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" id="password" name="password" value="{{ entered_password }}" class="form-control" placeholder="Password" required>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Login</button>
                            <a href="{% url 'fitness:index' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <a href="{% url 'fitness:register_users' %}" class="text-decoration-none">Don't have an account? Sign up!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
