{% extends "./index.html" %}

{% block title %}Resource Details{% endblock %}

{% block styles %}
.resource-details {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.comments {
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.add-comment {
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 10px;
}

.profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 2px;
    margin-left: 10px;
}

.comment {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
}
{% endblock %}

{% block content %}
{% load static %}

<div class="post-details">
    <div class="post-header">
        <h2>{{ resource.title }}</h2>
        <br>
        <p> <strong>Author</strong>:
            {% if resource.author.profile_picture %}
                <img class="profile-picture" src="{{ resource.author.profile_picture.url }}" alt="Profile Picture">
            {% endif %}
            {{ resource.author }}
        </p>
        <br>
        <p><strong>Resource Type</strong>: {{ resource.type }}</p>
        <br>
        <p><strong>Date</strong>: {{ resource.pub_data }}</p>
    </div>
    <div class="post-description">
        <p><h6><strong>Description</strong>:</h6> {{ resource.description }}</p>
    </div>
</div>

<div class="comments">
    <h3>Comments</h3>
    {% if resource.commentary_set %}
        {% for item in resource.commentary_set.all %}
            <div class="comment">
                <p>
                    {% if item.author.profile_picture %}
                        <img class="profile-picture" src="{{ item.author.profile_picture.url }}" alt="Profile Picture"></a>
                    {% endif %}
                    <strong>{{ item.author }}</strong> - {{ item.pub_data }}
                </p>
                <p>{{ item.texto }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No comments for this Resource.</p>
    {% endif %}
</div>

<div class="add-comment">
    <h3>Add Comment</h3>
    <form method="POST" action="{% url 'fitness:create_resource_comment' resource.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="comment_texto">Text:</label>
            <textarea class="form-control" id="comment_texto" name="comment_texto" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>

{% endblock %}