{% extends "./index.html" %}

{% block title %}Resource Details{% endblock %}

{% block styles %}
.resource-details {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.comments {
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.add-comment {
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 10px;
}

.profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 2px;
    margin-left: 10px;
}

.comment {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
}
{% endblock %}

{% block content %}
{% load static %}



{% endblock %}