{% extends "./index.html" %}

{% block title %}Workout Details{% endblock %}

{% block styles %}
.resource-details {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.comments {
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.add-comment {
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 10px;
}

.profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 2px;
    margin-left: 10px;
}

.comment {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
}
{% endblock %}

{% block content %}
{% load static %}

<div class="post-details">
    <div class="post-header">
        <h2>{{ workout.name }}</h2>
        <br>
        <p><strong>Instructor</strong>: {{ workout.instructor }}</p>
        <br>
        <p><strong>Start Time</strong>: {{ workout.start_time }}</p>
        <br>
        <p><strong>Day</strong>: {{ workout.day }}</p>
        <br>
        <p><strong>Maximum of Attendees</strong>: {{ workout.max_attendees }}</p>
        <br>
        {% if workout.attendees.exists %}
            <p><strong>Attendees</strong>:</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for attendee in workout.attendees.all %}
                                    <tr>
                                        <td>
                                            {% if attendee.utilizador.profile_picture %}
                                                <img class="profile-picture" src="{{ attendee.utilizador.profile_picture.url }}" alt="Profile Picture"></a>
                                            {% endif %}
                                        </td>
                                        <td>{{ attendee.utilizador }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <p><strong>No attendees currently registered for this workout.</strong></p>
        {% endif %}
    </div>
    <div class="post-description">
        <p><h6><strong>Description</strong>:</h6> {{ workout.description }}</p>
    </div>
</div>

{% endblock %}
